<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ commonData.blogTitle }}{% endblock %}</title>
        {% block common_stylesheets %}
            {# This bootstrap-back is used only if the booostrap CDN is down #}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('bundles/goreblog/css/blog.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/goreblog/css/custom.css') }}">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('bundles/goreblog/lib/syntax-highlighter/styles/shCore.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/goreblog/lib/syntax-highlighter/styles/shThemeMidnight.css') }}">
        {% endblock %}
        
        {% block common_javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/goreblog/lib/jquery/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/goreblog/js/blog.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/goreblog/lib/syntax-highlighter/scripts/shCore.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/goreblog/lib/syntax-highlighter/scripts/shBrushJScript.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/goreblog/lib/syntax-highlighter/scripts/shBrushPhp.js') }}"></script>
        {% endblock %}
            
        {% block google_analytics %}
            {# Fill with your GA tracker here #}
        {% endblock %}
            
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
        {% block header %}
            {% include 'GoreBlogBundle:Common:header.html.twig' %}
        {% endblock %}
            
        {% block body %}
            <div class="container">
                <div class="row row-offcanvas row-offcanvas-right">
                    
                    {% block sidebar %}
                        <div id="sidebar" class="col-md-3">
                            {% block sidebar_add_before %}
                                {# space to add custom module according to the page  #}
                            {% endblock %}
                            {% include 'GoreBlogBundle:Blog:sidebar-common.html.twig' %}
                            {% block sidebar_add_after %}{% endblock %}
                        </div>
                    {% endblock %}

                    <div class="col-md-9" id="blog-page">
                        {% block page_content %}
                            <div class="homepage-part main-articles-container">
                                {% if mains is defined and mains is not null %}
                                    {% for article in mains %}
                                        {% include 'GoreBlogBundle:Article:main.html.twig' with {'article': article} %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            
                            {% if isSearch is not defined %}
                                <hr class="homepage-hr"/>
                            {% endif %}
                            
                            <div class="homepage-part main-articles-container">
                                <div id="small-articles">
                                    {% if isSearch is defined %}
                                        <div class="homepage-title">{% trans %}Search results{% endtrans %}</div>
                                    {% endif %}
                                    <div class="row articles-container">
                                        {% include 'GoreBlogBundle:Article:thumbnails.html.twig' with {'articles': olders} %}
                                    </div>
                                    {% if isSearch is not defined %}
                                        <div class="row">
                                            <div class="col-md-12 text-center load-more-container">
                                                <div id="load-more" class="btn btn-default" data-page="2">{% trans %}Load more !{% endtrans %}</div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endblock %}
                    </div><!--/span-->
                </div>
            </div><!--/row-->


        {% endblock %}
            
        {% block javascripts %}
            {# Used in the blog.js file #}
            <script>
                loadMoreUrl = '{{ path('gore_blog_load_more') }}';
                SyntaxHighlighter.all()
            </script>
        {% endblock %}
            
        {# the loading image html code that can be taker by JS from anywhere #}
        <div id="loader-image" style="display:none;">
            <img src="{{ asset('bundles/goreblog/images/loader.gif') }}"/>
        </div>
    </body>
</html>
